// dimensions
$width-container: 1140px;
$margin-auto: 0px auto;
// Color
$color-black: black;
$color-white: white;
$color-blue: blue;
// Font
$font-30px: 60px;
// Transition
$transition: all .3s ease;